body{
	background-color: pink;
	font-family: Times New Roman;
}
h1{
	text-align: center;
	font-size:56px;
}
button{
	display:inline-block;
	font-size:16px;
	margin-left:25%;
	width:200px;
	color:black;
	padding:15px 32px;
	background-color:white;
	border-radius: 5%;
	font-weight:bold;
}
.noBtn:hover{
	margin-left: 150px;
}
.fit-picture{
	width:100%;
}
/*
this changes the confetti to be on the top of the screen!
*/
#confetti-canvas{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100000;
}
